.home {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 1050px;
    justify-content: space-between;
    margin: auto;
    /* height: 200px;
    background-color: gainsboro;
    padding-left: 20px;
    border-radius: 10px;
    border: 1px solid black; */
}

.radio:hover {
    background-color: black;
}